[Unit]
Description=Fan Control Service
After=network.target

[Service]
WorkingDirectory= /opt/RPiModules/web/
ExecStart=python3 /opt/RPiModules/web/app.py
Restart=always
RestartSec=10
User=vasys
Group=vasys

[Install]
WantedBy=multi-user.target
