<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('test.static', filename='test_icon.png') }}">
</head>
<body>
    {% extends "base_layout.html" %}

    {% block content %}
    <h1>Test</h1>
    <iframe width="110" height="200" src="https://www.myinstants.com/instant/shikanoko-nokonoko-koshitantan-3574/embed/" frameborder="0" scrolling="no"></iframe>
    {% endblock %}
</body>
</html>
